{% extends 'base.html' %}
{% block menu %}
<nav>
    <ul>
        {% for category in categories %}
            {% if category.have_primary %}
                <li class='category-name'><a href="{{category.get_absolute_url}}">{{category.name}} &gt;</a></li>
                <div class="underline"></div>
            {% else %}
                <li class='category-name'><a href="{{category.get_absolute_url}}">{{category.name}}</a></li>
                <div class="underline"></div>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
<div id="verticalline"></div>
{% endblock %}