<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/3a413b96b6.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="container-fluid shadow" id="top-bar">
            <div class="row">
                <div class="col-2">
                    <a href="" id='logo'>E-Commerce</a>
                </div>
                <div class="col-4"></div>
                <div class="col-5">
                    {% if not current_user.is_authenticated %}
                        <form action="{{url_for('auth.login')}}" id="authform_before" method="POST">
                                {{form.email}}
                                {{form.password}}
                                <div class="submit-class">
                                    <input type="submit" value="Войти" class='submit-blank'>
                                    <div id="verticalline"></div>
                                    <a href="{{url_for('auth.register')}}" class='submit-blank'>Регистрация</a>
                                </div>
                        
                        </form>
                    {% else %}
                    <div id="authform-after">
                        <a href="">{{current_user.email}}</a>
                        <a href="{{url_for('auth.logout')}}">Выход</a>
                    </div>
                    {% endif %}
                </div>
                <div class="col-1">
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid" id='main'>
        <div class="row">
            <div class="col-2" id='nav'>
                {% block menu %}{% endblock %}
            </div>
            <div class="col-10">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>