{% extends 'base.html' %}
{% block content %}
<form action="{{url_for('auth.register')}}" method="post">
	{% for field in form %}
		<p>{{field.label}}</p>
		{{field}}
		{% if field.errors %}
			<p>{{field.errors}}</p>
		{% endif %}
	{% endfor %}
	<input type="submit" value="Регистрация">
</form>
{% endblock %}